body {
	text-align: center;
	height: 100%;
	margin: 0%;
	font-family: 'Roboto';
	color: #1F2937;
}

div.blue {
	color: blue;
}

img {
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

img.logo {
	width: 50px;
	height: 50px;
}

.container {
	display: flex;
	flex-direction: column;
}

.hero-text {
	padding: 4px;
	font-size: 48px;
	color: #F9FAF8;
}

.description {
	padding: 4px;
	font-size: 18px;
	color: #E5E7EB;
}

p {
	font-size: 18px;
	margin: 4px;
}

a {
	text-decoration: none;
	color: #E5E7EB;
	padding: 4px;
	margin: 4px;
	font-size: 20px;
}

button {
	background-color: #3882F6;
	border-radius: 4px;
	padding: 4px;
	margin: 4px;
	color: #E5E7EB;
	border: #3882F6;
}

button:hover {
	cursor: pointer;
}

.header-links {
	text-align: right;
}

.header {
	padding: 12px;
	background-color: #1F2937;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.info {
	background-color: #1F2937;
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 20px;
}

.cards-header {
	background-color: white;
	color: #1F2937;
	font-weight: 800;
	font-size: 36px;
}

.cards {
	background-color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	gap: 30px;
}

.card-image {
	border-style: solid;
	border-color: #3882F6;
}

.quote {
	background-color: #E5E7EB;
	font-style: italic;
	font-size: 36px;
	padding: 100px;
	font-weight: 200;
}

.author {
	padding: 10px;
	text-align: right;
	font-style: normal;
	color: #1F2937;
	font-weight:bold;
	font-size: 24px;
}

.feedback {
	margin: 100px;
	background-color: #3882F6;
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: space-around;
	border-radius: 10px;
}

.feedback-button {
	background-color: #3882F6;
	font-size: 26px;
	border-radius: 14px;
	padding: 14px;
	margin: 4px;
	color: #E5E7EB;
	border: #3882F6;
	border-style: solid;
	border-color: #E5E7EB;
}

.footer {
	align-items: center;
	background-color: #1F2937;
	color: #F9FAF8;
	padding: 10px;
}